{{ form_start(form) }}
    {{ form_widget(form) }}
<button  class="float-end btn btn-sm btn-light mx-2 my-2">{{ button_label|default('Save') }}</button>
<a  class="float-end btn btn-sm btn-light mx-2 my-2" href="{{ path('inspection_index') }}">Cancel</a>
{{ form_end(form) }}
