{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    <div class="row">
        <div class="col-8">
            {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        {% if product.image  %}
            <div class="col-4">
                <img class="w-100 img-fluid" src="{{ asset('uploads/'~product.image) }}" alt="">
                <a href="{{ path('product_remove_image' , {'id' : product.id}) }}" class="btn btn-danger btn-block w-100 mt-3">Remove Image</a>
            </div>
        {% endif %}

    </div>


{#    <a href="{{ path('product_index') }}">back to list</a>#}

{#    {{ include('product/_delete_form.html.twig') }}#}
{% endblock %}
